@model TalentHunt.ModelView.adminv

@{  ViewBag.Title = "Edit";
    Layout = null;
 }

<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');</script>
</head>
<body>

    @{ 
        Html.RenderPartial("_Header");
        Html.RenderPartial("_LeftSideBar"); 
     }
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">

                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Edit Admin Details</h4>
                        </div>
                    </div>
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                         @Html.AntiForgeryToken()
                         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                         @Html.HiddenFor(model => model.aid)

                         <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Name</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.aname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.aname, "", new { @class = "text-danger" })
                            </div>
                         </div>
                             <div class="form-group row">
                             <label class="col-sm-12 col-md-2 col-form-label">Age</label>
                             <div class="col-sm-12 col-md-10">
                                 @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                                 @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                             </div>
                         </div>
                             <div class="form-group row">
                             <label class="col-sm-12 col-md-2 col-form-label">Gender</label>
                             <div class="col-sm-12 col-md-10">
                                 @Html.RadioButtonFor(model => model.gender, "Male", new { htmlAttributes = new { @class = "form-control" } })Male
                                 @Html.RadioButtonFor(model => model.gender, "Female", new { htmlAttributes = new { @class = "form-control" } })Female
                                 @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                             </div>
                         </div>

                         <div class="form-group row">
                             <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                             <div class="col-sm-12 col-md-10">
                                 @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                 @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                             </div>
                         </div>
                         <div class="form-group row">
                             <label class="col-sm-12 col-md-2 col-form-label">Username</label>
                             <div class="col-sm-12 col-md-10">
                                 @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                 @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                             </div>
                         </div>
                         @Html.HiddenFor(model => model.password)
                         <div class="mb-0 d-flex justify-content-center ">
                            <input type="submit" value="Save" class="btn btn-primary" />
                         </div>
                     }
                </div>
            </div>
        </div>
        <!-- Default Basic Forms End -->

    </div>

    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
</body>
</html>