@model IEnumerable<TalentHunt.Models.subuser>
@using TalentHunt.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>TalentHunt</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>


    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    @{
        Html.RenderPartial("_Navbar");
    }

    @{
        if (Session["uid"] != null)
        {

            <div class="pcoded-main-container2">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- [ Main Content ] start -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card user-card user-card-2 shape-right">
                                                <div class="card-header border-0 p-2 pb-0">
                                                    <div class="clearfix mb-1">
                                                        <div class="pull-left">
                                                            <h4 class="text-blue h4 mx-3 my-3">Subscription Details</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br /><br />
                                                <div class="card-body pt-0">
                                                    <div class="user-about-block">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <div class="col align-items-center my-3">
                                                                </div>

                                                                <table class="table">
                                                                    <tr>
                                                                        <th>
                                                                            Plan Name
                                                                        </th>
                                                                        <th>
                                                                            Duration
                                                                        </th>
                                                                        <th>
                                                                            Price
                                                                        </th>
                                                                        <th>
                                                                            Max Bids Allowed
                                                                        </th>
                                                                        <th>
                                                                            StartDate
                                                                        </th>
                                                                        <th>
                                                                            EndDate
                                                                        </th>
                                                                    </tr>

                                                                    @if (TempData["NotFound"] != null)
                                                                    {
                                                                        <tr>
                                                                            <td colspan="6" style="color:indianred"><center>@TempData["NotFound"]</center></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6"><center>@Html.ActionLink("Select a plan", "planselect", "Plans", new { @area = "" }, new { @class = "btn btn-outline-success" })</center></td>
                                                                        </tr>
                                                                    }


                                                                    @foreach (var pdata in (IEnumerable<subuser>)TempData["pdata"])
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => pdata.plan.plantype)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => pdata.plan.duration) months
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => pdata.plan.price)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => pdata.plan.maxbids)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => pdata.startdate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => pdata.enddate)
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </table>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }


    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>

</body>
</html>