@model TalentHunt.ModelView.productioneventv
@using TalentHunt.Models
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>TalentHunt</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="main-container-2">
        <div class="pd-tr-20 xs-pd-10-10">
            <div class="min-height-200px">
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Edit Event Info</h4>
                            <hr style="color:darkblue" />
                        </div>
                    </div>
                    @using (Html.BeginForm("Edit", "ProductionEvent", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.peid)
                        @Html.HiddenFor(model => model.status)

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event Name</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.ename, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ename, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event Type</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.etype, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.etype, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event Manager</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.emanager, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.emanager, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event Start Date</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.startdate, new { htmlAttributes = new { @class = "form-control", @type = "datetime"} })
                                @Html.ValidationMessageFor(model => model.startdate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event End Date</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.enddate, new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                                @Html.ValidationMessageFor(model => model.enddate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event Venue</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.evenu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.evenu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Visitors Count</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.evisitors, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.evisitors, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Application Deadline</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.appdeadline, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                                @Html.ValidationMessageFor(model => model.appdeadline, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Event Description</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.pid)
                        @Html.HiddenFor(model => model.image)

                        <center>
                            <input type="submit" value="Submit" class=" btn btn-primary" />
                        </center>

                    }
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
</body>
</html>