@model TalentHunt.ModelView.checkpass
@{
    Layout = null;
}

@if (Session["aid"] != null)
{
    <!DOCTYPE html>

    <html>
    <head>
        <!-- Basic Page Info -->
        <meta charset="utf-8">
        <title>Talent | Create</title>

        <!-- Site favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
        <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-119386393-1');
        </script>
    </head>
    <body>
        @{
            Html.RenderPartial("_Header");
            Html.RenderPartial("_LeftSideBar");
        }

        <div class="main-container">
            <div class="pd-ltr-20 xs-pd-20-10">
                <div class="min-height-200px">

                    <!-- Default Basic Forms Start -->
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4 class="text-blue h4">Add Talent</h4>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("email", (object)Session["adminemail"]);
                            <div class="form-group row " style="">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "col-sm-12 col-md-2 col-form-label", @style = "font-size:20px;" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row " style="">
                                @Html.LabelFor(model => model.cpassword, htmlAttributes: new { @class = "col-sm-12 col-md-2 col-form-label", @style = "font-size:20px;" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.cpassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cpassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="mb-0 d-flex justify-content-center ">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms End -->
            <script src="~/vendors/scripts/core.js"></script>
            <script src="~/vendors/scripts/script.min.js"></script>
            <script src="~/vendors/scripts/process.js"></script>
            <script src="~/vendors/scripts/layout-settings.js"></script>
        </div>
    </body>
</html>

}
else
{

<html lang="en">
<head>
    <title>Admin | Reset Password</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">


</head>
<body>

    <div class="auth-wrapper">
        <!-- [ reset-password ] start -->
        <div class="auth-content container">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="card-body">
                            <img src="~/assets/images/logo-dark.svg" alt="" class="img-fluid mb-4">
                            <h4 class="mb-3 f-w-400">Reset your password</h4>
                            @using (Html.BeginForm())
                            {
                                @Html.Hidden("email", (object)TempData["adminemail"]);
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "col-form-label" })
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.cpassword, htmlAttributes: new { @class = "col-form-label" })
                                    @Html.EditorFor(model => model.cpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email" } })
                                    @Html.ValidationMessageFor(model => model.cpassword, "", new { @class = "text-danger" })
                                </div>
                                <input type="submit" class="btn btn-primary mb-4" value="Submit" />
                            }
                            <a href="/AdminLogin/Login"><span class="text-success">Login <span class="text-dark">Instead?</span></span></a>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="~/assets/images/auth/auth-bg.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- [ reset-password ] end -->
    </div>


    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

}