@model TalentHunt.Models.user
@using TalentHunt.Models

@{ 
    Layout = null; 
}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Event Details</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Dasho Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, Dasho, Dasho bootstrap admin template">
    <meta name="author" content="Phoenixcoded" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    @{ 
        Html.RenderPartial("_Navbar"); 
    }
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container2">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card user-card user-card-2 shape-right">
                                        <div class="card-header border-0 p-2 pb-0">
                                            <div class="clearfix mb-1">
                                                <div class="pull-left">
                                                    <h4 class="text-blue h4 mx-3 my-3">User Details</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center mx-4">
                                            <div class="col-auto col pr-0">
                                                <div class="change-profile">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <div class="profile-dp">
                                                                <img class="img-radius img-fluid wid-100" src="@Url.Content(Model.photo)" alt="User image">
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h6 class="mb-1" style="color:indianred">@Html.DisplayFor(model => model.fname)  @Html.DisplayFor(model => model.lname)</h6>
                                                <p>
                                                    @Html.DisplayFor(model => model.gender) | @Html.DisplayFor(model => model.age)
                                                </p>
                                                <p class="mb-0" style="border-radius:50%; border-color:lawngreen; color:green">
                                                    @TempData["ratings"] <i class="fa fa-star" style="color:gold"></i>
                                                </p>
                                            </div>
                                        </div>
                                        @if (Session["pid"] != null)
                                        {
                                            <div>
                                                @Html.ActionLink("Request","RequestUser","ProductionEvent",new { uid = Model.userid, pid = Session["pid"] }, new { @class = "btn btn-outline-dark mx-4"})
                                                @if(TempData["true"] != null)
                                                {
                                                    <span class="text-success">E-mail sent</span>
                                                }   
                                            </div>
                                        }
                                        <br />
                                        <div class="card-body pt-0">
                                            <div class="user-about-block">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <div class="col align-items-center my-3">
                                                        </div>

                                                        <table border="0" class="table">
                                                            <tr>
                                                                <th>Address</th>
                                                                <td>@Html.DisplayFor(model => model.address)</td>
                                                            </tr>
                                                            <tr>
                                                                <th>City</th>
                                                                <td>@Html.DisplayFor(model => model.city)</td>
                                                            </tr>
                                                            <tr>
                                                                <th>State</th>
                                                                <td>@Html.DisplayFor(model => model.state)</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Pincode</th>
                                                                <td>@Html.DisplayFor(model => model.pincode)</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Email</th>
                                                                <td>@Html.DisplayFor(model => model.email)</td>
                                                            </tr>
                                                        </table>


                                                        <hr style="color:darkblue" />

                                                        <div>
                                                            <p style="color:black; font-size:large" class="mb-1">TALENTS</p><br />
                                                            @foreach (var pdata in (IEnumerable<userprofile>)TempData["tlist"])
                                                            {
                                                                <h5 style="color:indianred">@Html.DisplayFor(modelItem => pdata.talent.ttype)</h5>
                                                                <p class="mb-0">Experience : @Html.DisplayFor(modelItem => pdata.experience) years</p>
                                                                <p class="mb-0">Portfolio : @Html.DisplayFor(modelItem => pdata.portfolio)</p>
                                                                <br />
                                                            }
                                                        </div>

                                                        <hr style="color:darkblue" />



                                                        <p style="color:black; font-size:large" class="mb-1">IMAGES</p><br />
                                                        <br />
                                                        <div class="d-inline-flex">

                                                            <br />
                                                            @foreach (var piclists in (IEnumerable<image>)TempData["piclists"])
                                                            {
                                                                <div class="d-inline mx-2">
                                                                    <img src="@Url.Content(piclists.image1)" height="200" width="200" />
                                                                    <p>@piclists.caption</p>
                                                                </div>
                                                            }
                                                        </div><br />


                                                        <hr style="color:darkblue" />

                                                        <p style="color:black; font-size:large" class="mb-1">VIDEOS</p>
                                                        <div class="d-inline-flex">

                                                            <br />
                                                            @foreach (var videolists in (IEnumerable<video>)TempData["videolists"])
                                                            {
                                                                <div class="d-inline">
                                                                    <video height="300" width="300" controls class="mx-2">
                                                                        <source src="@Url.Content(videolists.video1)" type="audio/mp4" />
                                                                    </video>
                                                                    <p>@videolists.caption</p>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/pcoded.min.js"></script>
</body>
</html>