@model IEnumerable<TalentHunt.Models.production>

@{ 
    ViewBag.Title = "Index";
    Layout = null;
    var count = 0;

    foreach (var item in Model)
    {
       count++;
    } 
}

<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>TalentHunt</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');</script>
</head>
<body>

    @{ 
        Html.RenderPartial("_Header");
        Html.RenderPartial("_LeftSideBar"); 
    }
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">

                <!-- Default Basic Forms Start -->

                <div class="pd-20 card-box mb-30">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <h4 class="text-blue h4"> Productions <span class="text-black-50 mx-3">(Total - @count)</span> </h4>
                        </div>

                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            <div class="pull-left">
                                @Html.TextBox("Search", "", new { @class = "form-control" })
                            </div>
                            <div class="pull-left mx-2">
                                <input type="submit" class="btn btn-outline-primary" value="Search" name="submit" />
                            </div>
                        }
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Logo</th>
                                <th scope="col">Name</th>
                                <th scope="col">Head</th>
                                <th scope="col">Address</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <span class="text-danger">@TempData["NotFound"]</span>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@Url.Content(item.pimage)" style="border-radius:30%" height="100" width="100" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.pname)</td>
                                    <td>@Html.DisplayFor(modelItem => item.phead)</td>
                                    <td>@Html.DisplayFor(modelItem => item.address)</td>
                                    @if (item.status.Equals("active"))
                                    {
                                        <td>
                                            <div class="icon" data-color="#09cc06"><i class="icon-copy fa fa-circle" aria-hidden="true"></i></div>
                                        </td>
                                        <td>@Html.ActionLink("Block", "Edit", "Production",new { id = item.pid, status = "blocked"}, new { @class = "btn btn-outline-danger" })</td>}
                                    @if (item.status.Equals("blocked"))
                                    {
                                        <td>
                                            <div class="icon" data-color="#ff5b5b"><i class="icon-copy fa fa-circle" aria-hidden="true"></i></div>
                                        </td>
                                        <td>@Html.ActionLink("Approve", "Edit", "Production",new { id =  item.pid, status = "active"}, new { @class = "btn btn-outline-success" })</td>}
                                    <td>@Html.ActionLink("View Profile", "PrShortView", "Production", new { id = item.pid }, new { @area = "" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
</body>
</html>